<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Add Product</title>
</head>

<body>
  <%- include("navbar") %>
  
  <main class="add-product-container">
    <button class="return-btn" onclick="location.href = '/products'">
      &lt;&lt; Return to Products
    </button>
    
    <form class="add-product-form" action="/products/add" method="POST" enctype="multipart/form-data">
      
      <label for="productName">Product Name:</label>
      <input type="text" name="productName" id="productName" required />

      <label for="productPrice">Product Price:</label>
      <input type="number" name="productPrice" id="productPrice" min="0" step="0.01" required />

      <label for="productCategory">Product Category:</label>
      <input type="text" name="productCategory" id="productCategory" required />

      <label for="productColor">Product Category Color:</label>
      <input type="color" name="productColor" id="productColor" value="#ff0000" required/>

      <label for="productImage">Product Image:</label>
      <input type="file" name="productImage" id="productImage" accept="image/*" />

      <label for="productDescription">Product Description:</label>
      <textarea name="productDescription" id="productDescription" rows="6" required></textarea>

      <label for="productQuantity">Product Quantity: </label>
      <input type="number" name="productQuantity" id="productQuantity" min="1" required />
      
      <% if (locals.errors) { %>
        <ul class="error-list" style="padding:1rem">
          <% locals.errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } %>
      
      <button class="submit-add-product-btn" type="submit">
        Submit Product
      </button>
      
    </form>
  </main>
</body>

</html>