<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Fruits</title>
  </head>
  <body>
    <%- include('navbar') %>
    <main class="main-homepage">
      <section class="welcome-section">
        <h3>Welcome</h3>
        <p>
          Welcome to Fruits! Where all of your inventory needs are met. Here,
          you have full control over your products. You can add any product or
          category for your store, complete with color coding and custom images!
          Give it a try and be sure to leave a review in the app store!
        </p>
      </section>

      <section class="product-panel" onclick="location.href = '/products'">
        <h2>View Products &#8594;</h2>
      </section>
      <section class="category-panel">
        <h2>View Categories &#8594;</h2>
      </section>
    </main>
  </body>
</html>
