<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Fruits</title>
  </head>
  <body>
    <nav class="homepage-nav">
      <div class="nav-content">
        <span>
          <img
            src="fruits-fruit-svgrepo-com.svg"
            alt="logo"
            width="34px"
            height="34px"
          />
          <p>Fruits</p>
        </span>
        <p>Home</p>
        <p>Products</p>
        <p>Categories</p>
      </div>
      <div>
        <input class="search-input" type="text" placeholder="Search Products..." />
        <button class="search-btn">Search</button>
      </div>
    </nav>
  </body>
</html>
