<nav class="homepage-nav">
  <div class="nav-content">
    <span onclick="location.href = '/'">
      <img
        src="/fruits-fruit-svgrepo-com.svg"
        alt="logo"
        width="34px"
        height="34px"
      />
      <div>Fruits</div>
    </span>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a>Categories</a>
  </div>
  <form method="GET" action="/products/search">
    <input
      name="search"
      class="search-input"
      type="text"
      placeholder="Search Products..."
    />

    <button type="submit" class="search-btn">Search</button>
  </form>
</nav>
