<nav class="homepage-nav">
  <div class="nav-content">
    <span onclick="location.href = '/'">
      <img
        src="/fruits-fruit-svgrepo-com.svg"
        alt="logo"
        width="34px"
        height="34px"
      />
      <div>Fruits</div>
    </span>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a>Categories</a>
  </div>
  <div>
    <input class="search-input" type="text" placeholder="Search Products..." />
    <button class="search-btn">Search</button>
  </div>
</nav>
