:root {
    --light-green: hsl(136, 54%, 83%);
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepage-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-green);
    padding: 1rem;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-content span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.3em;
    cursor: pointer;
}


.nav-content a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-content a:hover {
    color: gray;
}

.search-btn {
    border-radius: 4px;
    border: 1px solid black;
    background-color: var(--light-green);
    padding: 5px 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.search-btn:hover {
    background-color: darkgreen;
    color: white;
}

.search-input {
    padding: 3px 5px;
}

.main-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem 5rem;
    gap: 22px;
}

.welcome-section h3 {
    font-size: 1.4em;
    padding-bottom: 2.5rem;
    color: black;
}

.welcome-section {
    padding-bottom: 3rem;
    color: #86888A;
}

.product-panel,
.category-panel {
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 22px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(rgba(255, 238, 238, 0.9), rgba(160, 255, 166, 0.9));
    transition: transform 0.3s ease-in-out;
}

.product-panel:hover,
.category-panel:hover {
    transform: translateY(-5px);
}

.main-products {
    padding: 2rem 5rem;
}

.products-header {
    display: flex;
    gap: 22px;
    font-size: 1.3em;
    padding-bottom: 1.5rem;
    font-weight: 550;
}

.add-product-btn,
.return-btn {
    background-color: var(--light-green);
    box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 3px;
    color: black;
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-btn:hover {
    background-color: hsl(137, 100%, 94%);
}

.products-container {
    display: flex;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.144);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 22px;
    min-width: 160px;
    max-width: 250px;
    background-color: #c9e6c42d;
    padding: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 1rem 0 0 0;
}

.products {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 150px));
    align-items: start;
    gap: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    background-color: hsla(120, 100%, 95%, 0.148);
    justify-content: center;
    padding: 8px;
    align-items: center;
    border-radius: 5px;
    gap: 0.8rem;
    transition: all 0.3s ease;
}

.product:hover {
    box-shadow: rgba(0, 0, 0, 0.80) 0px 0px 4px;
    cursor: pointer;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 599;
    font-size: 0.7em;
}


.quantity {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 0.7em;
    padding-bottom: 5px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    color: black;
    font-weight: 600;
    border-radius: 0 0 5px 5px;
    width: 112%;
    margin: -9px;
}

.main-product {
    padding: 4rem 6rem;
}

.product-item {
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-grow: 1;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.144);
}

.product-info {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 22px;
}

.product-name-price {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2em;
}

.product-category {
    border-radius: 8px;
    padding: 3px 5px;
    width: fit-content;
}

.edit-delete-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.edit-product-btn,
.delete-product-btn {
    background-color: var(--light-green);
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 3px;
}