:root {
    --light-green: hsl(136, 54%, 83%);
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

.homepage-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-green);
    padding: 1rem;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-content span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.3em;
    cursor: pointer;
}


.nav-content p {
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-content p:hover {
    color: gray;
}

.search-btn {
    border-radius: 4px;
    border: 1px solid black;
    background-color: var(--light-green);
    padding: 5px 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.search-btn:hover {
    background-color: darkgreen;
    color: white;
}

.search-input {
    padding: 3px 5px;
}