:root {
    --light-green: hsl(136, 54%, 83%);
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepage-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-green);
    padding: 1rem;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-content span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.3em;
    cursor: pointer;
}


.nav-content p {
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-content p:hover {
    color: gray;
}

.search-btn {
    border-radius: 4px;
    border: 1px solid black;
    background-color: var(--light-green);
    padding: 5px 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.search-btn:hover {
    background-color: darkgreen;
    color: white;
}

.search-input {
    padding: 3px 5px;
}

.main-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem 5rem;
    gap: 22px;
}

.welcome-section h3 {
    font-size: 1.4em;
    padding-bottom: 2.5rem;
    color: black;
}

.welcome-section {
    padding-bottom: 3rem;
    color: #86888A;
}

.product-panel,
.category-panel {
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 22px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient( rgba(255, 238, 238, 0.9), rgba(160, 255, 166, 0.9) );
    transition: transform 0.3s ease-in-out;
}
.product-panel:hover,
.category-panel:hover {
    transform: translateY(-5px);
}